*{
    margin: 0;
    padding: 0;
}

body{
     background-color: #edf2f9
}


h1 {
    color: #6F4E37;
}

#part1 {
    display: flex;
    justify-content: space-evenly;
}

.card {


}
.nav>#title{
    margin-left: 90px
}

.s-card-custom {
    border-radius: .375rem !important;
    overflow: hidden;
    box-shadow:  0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
